In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

In [2]:
crime = pd.read_csv('avocado.csv')
crime.head()

,num,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [3]:
import pandas as pd 

type = {'conventional': 1,'organic': 0} 
  
crime.type = [type[item] for item in crime.type] 
print(crime)

       num        Date  AveragePrice  Total Volume       4046       4225  \
0        0  2015-12-27          1.33      64236.62    1036.74   54454.85
1        1  2015-12-20          1.35      54876.98     674.28   44638.81
2        2  2015-12-13          0.93     118220.22     794.70  109149.67
3        3  2015-12-06          1.08      78992.15    1132.00   71976.41
4        4  2015-11-29          1.28      51039.60     941.48   43838.39
5        5  2015-11-22          1.26      55979.78    1184.27   48067.99
6        6  2015-11-15          0.99      83453.76    1368.92   73672.72
7        7  2015-11-08          0.98     109428.33     703.75  101815.36
8        8  2015-11-01          1.02      99811.42    1022.15   87315.57
9        9  2015-10-25          1.07      74338.76     842.40   64757.44
10      10  2015-10-18          1.12      84843.44     924.86   75595.85
11      11  2015-10-11          1.28      64489.17    1582.03   52677.92
12      12  2015-10-04          1.31      61007.10    2268.32   49880.67
13      13  2015-09-27          0.99     106803.39    1204.88   99409.21
14      14  2015-09-20          1.33      69759.01    1028.03   59313.12
15      15  2015-09-13          1.28      76111.27     985.73   65696.86
16      16  2015-09-06          1.11      99172.96     879.45   90062.62
17      17  2015-08-30          1.07     105693.84     689.01   94362.67
18      18  2015-08-23          1.34      79992.09     733.16   67933.79
19      19  2015-08-16          1.33      80043.78     539.65   68666.01
20      20  2015-08-09          1.12     111140.93     584.63  100961.46
21      21  2015-08-02          1.45      75133.10     509.94   62035.06
22      22  2015-07-26          1.11     106757.10     648.75   91949.05
23      23  2015-07-19          1.26      96617.00    1042.10   82049.40
24      24  2015-07-12          1.05     124055.31     672.25   94693.52
25      25  2015-07-05          1.35     109252.12     869.45   72600.55
26      26  2015-06-28          1.37      89534.81     664.23   57545.79
27      27  2015-06-21          1.27     104849.39     804.01   76688.55
28      28  2015-06-14          1.32      89631.30     850.58   55400.94
29      29  2015-06-07          1.07     122743.06     656.71   99220.82
...    ...         ...           ...           ...        ...        ...
18219    6  2018-02-11          1.56    1317000.47   98465.26  270798.27
18220    7  2018-02-04          1.53    1384683.41  117922.52  287724.61
18221    8  2018-01-28          1.61    1336979.09  118616.17  280080.34
18222    9  2018-01-21          1.63    1283987.65  108705.28  259172.13
18223   10  2018-01-14          1.59    1476651.08  145680.62  323669.83
18224   11  2018-01-07          1.51    1517332.70  129541.43  296490.29
18225    0  2018-03-25          1.60     271723.08   26996.28   77861.39
18226    1  2018-03-18          1.73     210067.47   33437.98   47165.54
18227    2  2018-03-11          1.63     264691.87   27566.25   60383.57
18228    3  2018-03-04          1.46     347373.17   25990.60   71213.19
18229    4  2018-02-25          1.49     301985.61   34200.18   49139.34
18230    5  2018-02-18          1.64     224798.60   30149.00   38800.64
18231    6  2018-02-11          1.47     275248.53   24732.55   61713.53
18232    7  2018-02-04          1.41     283378.47   22474.66   55360.49
18233    8  2018-01-28          1.80     185974.53   22918.40   33051.14
18234    9  2018-01-21          1.83     189317.99   27049.44   33561.32
18235   10  2018-01-14          1.82     207999.67   33869.12   47435.14
18236   11  2018-01-07          1.48     297190.60   34734.97   62967.74
18237    0  2018-03-25          1.62      15303.40    2325.30    2171.66
18238    1  2018-03-18          1.56      15896.38    2055.35    1499.55
18239    2  2018-03-11          1.56      22128.42    2162.67    3194.25
18240    3  2018-03-04          1.54      17393.30    1832.24    1905.57
18241    4  2018-02-25          1.57      18421.24    1974.26    2482.65
18242    5  2018-02-18          1.56      17597.12    1892.05    1928.36
18243    6  2018-02-11          1.57      15986.17    1924.28    1368.32
18244    7  2018-02-04          1.63      17074.83    2046.96    1529.20
18245    8  2018-01-28          1.71      13888.04    1191.70    3431.50
18246    9  2018-01-21          1.87      13766.76    1191.92    2452.79
18247   10  2018-01-14          1.93      16205.22    1527.63    2981.04
18248   11  2018-01-07          1.62      17489.58    2894.77    2356.13

          4770  Total Bags  Small Bags  Large Bags  XLarge Bags  type  year  \
0        48.16     8696.87     8603.62       93.25         0.00     1  2015
1        58.33     9505.56     9408.07       97.49         0.00     1  2015
2       130.50     8145.35     8042.21      103.14         0.00     1  2015
3        72.58     5811.16     5677.40      133.76         0.00     1  2015
4        75.78     6183.95     5986.26      197.69         0.00     1  2015
5        43.61     6683.91     6556.47      127.44         0.00     1  2015
6        93.26     8318.86     8196.81      122.05         0.00     1  2015
7        80.00     6829.22     6266.85      562.37         0.00     1  2015
8        85.34    11388.36    11104.53      283.83         0.00     1  2015
9       113.00     8625.92     8061.47      564.45         0.00     1  2015
10      117.07     8205.66     7877.86      327.80         0.00     1  2015
11      105.32    10123.90     9866.27      257.63         0.00     1  2015
12      101.36     8756.75     8379.98      376.77         0.00     1  2015
13      154.84     6034.46     5888.87      145.59         0.00     1  2015
14      150.50     9267.36     8489.10      778.26         0.00     1  2015
15      142.00     9286.68     8665.19      621.49         0.00     1  2015
16      240.79     7990.10     7762.87      227.23         0.00     1  2015
17      335.43    10306.73    10218.93       87.80         0.00     1  2015
18      444.78    10880.36    10745.79      134.57         0.00     1  2015
19      394.90    10443.22    10297.68      145.54         0.00     1  2015
20      368.95     9225.89     9116.34      109.55         0.00     1  2015
21      741.08    11847.02    11768.52       78.50         0.00     1  2015
22      966.61    13192.69    13061.53      131.16         0.00     1  2015
23     2238.02    11287.48    11103.49      183.99         0.00     1  2015
24     4257.64    24431.90    24290.08      108.49        33.33     1  2015
25     5883.16    29898.96    29663.19      235.77         0.00     1  2015
26     4662.71    26662.08    26311.76      350.32         0.00     1  2015
27     5481.18    21875.65    21662.00      213.65         0.00     1  2015
28     4377.19    29002.59    28343.14      659.45         0.00     1  2015
29       90.32    22775.21    22314.99      460.22         0.00     1  2015
...        ...         ...         ...         ...          ...   ...   ...
18219  1839.80   945638.02   768242.42   177144.00       251.60     0  2018
18220  1703.52   977084.84   774695.74   201878.69       510.41     0  2018
18221  1270.61   936859.49   796104.27   140652.84       102.38     0  2018
18222  1490.02   914409.26   710654.40   203526.59       228.27     0  2018
18223  1580.01  1005593.78   858772.69   146808.97        12.12     0  2018
18224  1289.07  1089861.24   915452.78   174381.57        26.89     0  2018
18225   117.56   166747.85    87108.00    79495.39       144.46     0  2018
18226   110.40   129353.55    73163.12    56020.24       170.19     0  2018
18227   276.42   176465.63   107174.93    69290.70         0.00     0  2018
18228    79.01   250090.37    85835.17   164087.33       167.87     0  2018
18229    85.58   218560.51    99989.62   118314.77       256.12     0  2018
18230   123.13   155725.83   120428.13    35257.73        39.97     0  2018
18231   243.00   188559.45    88497.05    99810.80       251.60     0  2018
18232   133.41   205409.91    70232.59   134666.91       510.41     0  2018
18233    93.52   129911.47    77822.23    51986.86       102.38     0  2018
18234   439.47   128267.76    76091.99    51947.50       228.27     0  2018
18235   433.52   126261.89    89115.78    37133.99        12.12     0  2018
18236   157.77   199330.12   103761.55    95544.39        24.18     0  2018
18237     0.00    10806.44    10569.80      236.64         0.00     0  2018
18238     0.00    12341.48    12114.81      226.67         0.00     0  2018
18239     8.93    16762.57    16510.32      252.25         0.00     0  2018
18240     0.00    13655.49    13401.93      253.56         0.00     0  2018
18241     0.00    13964.33    13698.27      266.06         0.00     0  2018
18242     0.00    13776.71    13553.53      223.18         0.00     0  2018
18243     0.00    12693.57    12437.35      256.22         0.00     0  2018
18244     0.00    13498.67    13066.82      431.85         0.00     0  2018
18245     0.00     9264.84     8940.04      324.80         0.00     0  2018
18246   727.94     9394.11     9351.80       42.31         0.00     0  2018
18247   727.01    10969.54    10919.54       50.00         0.00     0  2018
18248   224.53    12014.15    11988.14       26.01         0.00     0  2018

                 region
0                Albany
1                Albany
2                Albany
3                Albany
4                Albany
5                Albany
6                Albany
7                Albany
8                Albany
9                Albany
10               Albany
11               Albany
12               Albany
13               Albany
14               Albany
15               Albany
16               Albany
17               Albany
18               Albany
19               Albany
20               Albany
21               Albany
22               Albany
23               Albany
24               Albany
25               Albany
26               Albany
27               Albany
28               Albany
29               Albany
...                 ...
18219           TotalUS
18220           TotalUS
18221           TotalUS
18222           TotalUS
18223           TotalUS
18224           TotalUS
18225              West
18226              West
18227              West
18228              West
18229              West
18230              West
18231              West
18232              West
18233              West
18234              West
18235              West
18236              West
18237  WestTexNewMexico
18238  WestTexNewMexico
18239  WestTexNewMexico
18240  WestTexNewMexico
18241  WestTexNewMexico
18242  WestTexNewMexico
18243  WestTexNewMexico
18244  WestTexNewMexico
18245  WestTexNewMexico
18246  WestTexNewMexico
18247  WestTexNewMexico
18248  WestTexNewMexico

[18249 rows x 14 columns]

In [4]:
X = crime.drop(['type','Date','region'], axis=1)
X.head()

,num,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
0,0,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,2015
1,1,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,2015
2,2,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,2015
3,3,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,2015
4,4,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,2015

In [5]:
y = crime["type"]

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [10]:
from sklearn.linear_model import LinearRegression
def lr():
    linreg = LinearRegression()
    return linreg
linreg = lr()

In [11]:
def lr():
    linreg.fit(X_train, y_train)  
lr()

In [12]:
def lr():
    print('Intercept:',linreg.intercept_)                                            
    print('Coefficients:',linreg.coef_)
lr()

Intercept: -41.97607123540982
Coefficients: [-2.42876180e-03 -7.64884963e-01 -2.87246865e-04  2.87186272e-04
  2.87366321e-04  2.87014869e-04  3.61022940e-02 -3.58150104e-02
 -3.58151761e-02 -3.58136551e-02  2.16226776e-02]

In [13]:
X = pd.DataFrame()
feature_cols = ['AveragePrice','Total Volume','4046','4225','4770','Total Bags','Small Bags','Large Bags','XLarge Bags','type','year']                
def lr(crime):
    X = crime[feature_cols]
    return X
X = lr(crime)
print(X)

       AveragePrice  Total Volume       4046       4225     4770  Total Bags  \
0              1.33      64236.62    1036.74   54454.85    48.16     8696.87
1              1.35      54876.98     674.28   44638.81    58.33     9505.56
2              0.93     118220.22     794.70  109149.67   130.50     8145.35
3              1.08      78992.15    1132.00   71976.41    72.58     5811.16
4              1.28      51039.60     941.48   43838.39    75.78     6183.95
5              1.26      55979.78    1184.27   48067.99    43.61     6683.91
6              0.99      83453.76    1368.92   73672.72    93.26     8318.86
7              0.98     109428.33     703.75  101815.36    80.00     6829.22
8              1.02      99811.42    1022.15   87315.57    85.34    11388.36
9              1.07      74338.76     842.40   64757.44   113.00     8625.92
10             1.12      84843.44     924.86   75595.85   117.07     8205.66
11             1.28      64489.17    1582.03   52677.92   105.32    10123.90
12             1.31      61007.10    2268.32   49880.67   101.36     8756.75
13             0.99     106803.39    1204.88   99409.21   154.84     6034.46
14             1.33      69759.01    1028.03   59313.12   150.50     9267.36
15             1.28      76111.27     985.73   65696.86   142.00     9286.68
16             1.11      99172.96     879.45   90062.62   240.79     7990.10
17             1.07     105693.84     689.01   94362.67   335.43    10306.73
18             1.34      79992.09     733.16   67933.79   444.78    10880.36
19             1.33      80043.78     539.65   68666.01   394.90    10443.22
20             1.12     111140.93     584.63  100961.46   368.95     9225.89
21             1.45      75133.10     509.94   62035.06   741.08    11847.02
22             1.11     106757.10     648.75   91949.05   966.61    13192.69
23             1.26      96617.00    1042.10   82049.40  2238.02    11287.48
24             1.05     124055.31     672.25   94693.52  4257.64    24431.90
25             1.35     109252.12     869.45   72600.55  5883.16    29898.96
26             1.37      89534.81     664.23   57545.79  4662.71    26662.08
27             1.27     104849.39     804.01   76688.55  5481.18    21875.65
28             1.32      89631.30     850.58   55400.94  4377.19    29002.59
29             1.07     122743.06     656.71   99220.82    90.32    22775.21
...             ...           ...        ...        ...      ...         ...
18219          1.56    1317000.47   98465.26  270798.27  1839.80   945638.02
18220          1.53    1384683.41  117922.52  287724.61  1703.52   977084.84
18221          1.61    1336979.09  118616.17  280080.34  1270.61   936859.49
18222          1.63    1283987.65  108705.28  259172.13  1490.02   914409.26
18223          1.59    1476651.08  145680.62  323669.83  1580.01  1005593.78
18224          1.51    1517332.70  129541.43  296490.29  1289.07  1089861.24
18225          1.60     271723.08   26996.28   77861.39   117.56   166747.85
18226          1.73     210067.47   33437.98   47165.54   110.40   129353.55
18227          1.63     264691.87   27566.25   60383.57   276.42   176465.63
18228          1.46     347373.17   25990.60   71213.19    79.01   250090.37
18229          1.49     301985.61   34200.18   49139.34    85.58   218560.51
18230          1.64     224798.60   30149.00   38800.64   123.13   155725.83
18231          1.47     275248.53   24732.55   61713.53   243.00   188559.45
18232          1.41     283378.47   22474.66   55360.49   133.41   205409.91
18233          1.80     185974.53   22918.40   33051.14    93.52   129911.47
18234          1.83     189317.99   27049.44   33561.32   439.47   128267.76
18235          1.82     207999.67   33869.12   47435.14   433.52   126261.89
18236          1.48     297190.60   34734.97   62967.74   157.77   199330.12
18237          1.62      15303.40    2325.30    2171.66     0.00    10806.44
18238          1.56      15896.38    2055.35    1499.55     0.00    12341.48
18239          1.56      22128.42    2162.67    3194.25     8.93    16762.57
18240          1.54      17393.30    1832.24    1905.57     0.00    13655.49
18241          1.57      18421.24    1974.26    2482.65     0.00    13964.33
18242          1.56      17597.12    1892.05    1928.36     0.00    13776.71
18243          1.57      15986.17    1924.28    1368.32     0.00    12693.57
18244          1.63      17074.83    2046.96    1529.20     0.00    13498.67
18245          1.71      13888.04    1191.70    3431.50     0.00     9264.84
18246          1.87      13766.76    1191.92    2452.79   727.94     9394.11
18247          1.93      16205.22    1527.63    2981.04   727.01    10969.54
18248          1.62      17489.58    2894.77    2356.13   224.53    12014.15

       Small Bags  Large Bags  XLarge Bags  type  year
0         8603.62       93.25         0.00     1  2015
1         9408.07       97.49         0.00     1  2015
2         8042.21      103.14         0.00     1  2015
3         5677.40      133.76         0.00     1  2015
4         5986.26      197.69         0.00     1  2015
5         6556.47      127.44         0.00     1  2015
6         8196.81      122.05         0.00     1  2015
7         6266.85      562.37         0.00     1  2015
8        11104.53      283.83         0.00     1  2015
9         8061.47      564.45         0.00     1  2015
10        7877.86      327.80         0.00     1  2015
11        9866.27      257.63         0.00     1  2015
12        8379.98      376.77         0.00     1  2015
13        5888.87      145.59         0.00     1  2015
14        8489.10      778.26         0.00     1  2015
15        8665.19      621.49         0.00     1  2015
16        7762.87      227.23         0.00     1  2015
17       10218.93       87.80         0.00     1  2015
18       10745.79      134.57         0.00     1  2015
19       10297.68      145.54         0.00     1  2015
20        9116.34      109.55         0.00     1  2015
21       11768.52       78.50         0.00     1  2015
22       13061.53      131.16         0.00     1  2015
23       11103.49      183.99         0.00     1  2015
24       24290.08      108.49        33.33     1  2015
25       29663.19      235.77         0.00     1  2015
26       26311.76      350.32         0.00     1  2015
27       21662.00      213.65         0.00     1  2015
28       28343.14      659.45         0.00     1  2015
29       22314.99      460.22         0.00     1  2015
...           ...         ...          ...   ...   ...
18219   768242.42   177144.00       251.60     0  2018
18220   774695.74   201878.69       510.41     0  2018
18221   796104.27   140652.84       102.38     0  2018
18222   710654.40   203526.59       228.27     0  2018
18223   858772.69   146808.97        12.12     0  2018
18224   915452.78   174381.57        26.89     0  2018
18225    87108.00    79495.39       144.46     0  2018
18226    73163.12    56020.24       170.19     0  2018
18227   107174.93    69290.70         0.00     0  2018
18228    85835.17   164087.33       167.87     0  2018
18229    99989.62   118314.77       256.12     0  2018
18230   120428.13    35257.73        39.97     0  2018
18231    88497.05    99810.80       251.60     0  2018
18232    70232.59   134666.91       510.41     0  2018
18233    77822.23    51986.86       102.38     0  2018
18234    76091.99    51947.50       228.27     0  2018
18235    89115.78    37133.99        12.12     0  2018
18236   103761.55    95544.39        24.18     0  2018
18237    10569.80      236.64         0.00     0  2018
18238    12114.81      226.67         0.00     0  2018
18239    16510.32      252.25         0.00     0  2018
18240    13401.93      253.56         0.00     0  2018
18241    13698.27      266.06         0.00     0  2018
18242    13553.53      223.18         0.00     0  2018
18243    12437.35      256.22         0.00     0  2018
18244    13066.82      431.85         0.00     0  2018
18245     8940.04      324.80         0.00     0  2018
18246     9351.80       42.31         0.00     0  2018
18247    10919.54       50.00         0.00     0  2018
18248    11988.14       26.01         0.00     0  2018

[18249 rows x 11 columns]

In [14]:
def lr():
    feature_cols.insert(0,'Intercept')
    coef = linreg.coef_.tolist()
    coef.insert(0, linreg.intercept_)
    eq1 = zip(feature_cols, coef)
    for c1,c2 in eq1:
        print(c1,c2)
lr()

Intercept -41.97607123540982
AveragePrice -0.0024287617966963484
Total Volume -0.7648849632943959
4046 -0.0002872468654297552
4225 0.00028718627176904925
4770 0.0002873663205173263
Total Bags 0.00028701486886416344
Small Bags 0.03610229395448459
Large Bags -0.0358150104076899
XLarge Bags -0.03581517606440437
type -0.03581365505100847
year 0.021622677619564216

In [15]:
y_pred_train = linreg.predict(X_train)
pred= pd.DataFrame(y_pred_train)
def lr():  
    pred.columns = ['type']
    head = pred.head()
    return head
lr()

       type
0  0.301748
1  0.176840
2  0.029172
3  0.789782
4  0.112808

In [16]:
y_pred_test = linreg.predict(X_test)    
pred_test= pd.DataFrame(y_pred_test)
def lr():
    pred_test.columns=['type']
    head = pred_test.head()
    return head
lr()

       type
0 -0.051915
1  0.856650
2  0.642226
3  0.214810
4  0.279719

In [17]:
from sklearn import metrics
def lr():
    MAE_train = metrics.mean_absolute_error(y_train, y_pred_train)
    MAE_test = metrics.mean_absolute_error(y_test, y_pred_test)
    print('MAE for training set is {}'.format(MAE_train))
    print('MAE for test set is {}'.format(MAE_test))
lr()

MAE for training set is 0.328659760935847
MAE for test set is 0.3261486685067428

In [18]:
def lr():
    MSE_train = metrics.mean_squared_error(y_train, y_pred_train)
    MSE_test = metrics.mean_squared_error(y_test, y_pred_test)
    print('MSE for training set is {}'.format(MSE_train))
    print('MSE for test set is {}'.format(MSE_test))
lr()

MSE for training set is 0.14776091627529564
MSE for test set is 0.14678722878540035

In [19]:
from sklearn.metrics import r2_score
def lr():
    R2_train = r2_score(y_train, y_pred_train) 
    R2_test = r2_score(y_test, y_pred_test) 
    print('R2 for training set is {}'.format(R2_train))
    print('R2 for test set is {}'.format(R2_test))
lr()

R2 for training set is 0.40895531251902495
R2 for test set is 0.41283864844604745